.wrap{
    display: flex;
    flex-direction: column;
}
h1, h2{
    display: flex;
    justify-content: center;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}